
nav ,ul, a {
  background-color: var(--home-navbar-background);
  color: var(--text);
}

li {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

li:active {
  transform: scale(1.1);
}

li:focus {
  color: var(--darkOrange);
}

li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--darkOrange);
  transition: width 0.3s ease;
}

li:hover::before,
li:focus::before {
  width: 100%;
}

a:hover{
  color: var(--orange);
}
a:focus {
  color: var(--darkOrange);
}




