<div
  class="notification bg-orange-200 shadow-sm shadow-gray-400  dark:shadow-gray-400
    border-2 border-orange-300  flex items-center justify-start">

  <ng-container>
    <app-icon-helper class="text-green-600" *ngIf="notificationType== NotificationTypeEnum.SUCCESS"
                     iconName="animated/happy"/>

    <app-icon-helper class="text-red-600" *ngIf="notificationType== NotificationTypeEnum.ERROR"
                     iconName="animated/sad"/>

    <app-icon-helper class="text-yellow-500" *ngIf="notificationType== NotificationTypeEnum.WARNING"
                     iconName="animated/warning"/>

    <app-icon-helper class="text-blue-600" *ngIf="notificationType== NotificationTypeEnum.INFO"
                     iconName="animated/info"/>
  </ng-container>

  <div>
    {{ message }}
  </div>


</div>

<div class="progress-bar bg-gray-500 dark:bg-gray-400">
  <div [ngClass]="getBarClassByType()" [ngStyle]="{width: progress + '%'}"
       class="h-full"></div>
</div>
