<td class="px-6 relative" (mouseenter)="expandCell()" (mouseleave)="collapseCell()"
    [ngClass]="{
      'pb-1 underline underline-offset-2': dataList,
      'py-4': !dataList
    }"
>
  <p *ngIf="data!=null && data!==''; else noData" (click)="onClick()">
    {{ data }}
  </p>
  <ng-template #noData>
    <p class="text-gray-400">
      ...
    </p>
  </ng-template>

  <div
    *ngIf="expanded && clicked"
    class=" absolute top-0 left-0 z-10 text-gray-800  text-xl bg-white dark:bg-gray-800 border dark:text-gray-200 border-gray-200 dark:border-gray-700
     rounded-lg shadow-lg p-4 min-w-64">
    {{ data }}
  </div>

</td>
