
<div
  class=" p-10 bg-orange-50 border border-gray-200 rounded-lg shadow-2xl  ">


  <div class="flex mb-3 justify-center items-start">
    <img class="w-1/4" src="assets/img/gallery/login-logo.png" alt="Login Logo">
  </div>

  <form [formGroup]="loginValidator.form">

    <div class=" mb-6">
      <label for="email-address-icon" class="block mb-2 text-sm font-medium  "
             [ngClass]="getLabelValidationStyle(loginValidator.email)"
      >
        Your Email
      </label>
      <div class="relative flex items-center">
        <div
          class="absolute inset-y-0  left-0 w-10 h-10 flex items-center justify-center    rounded-lg focus:ring-orange-400 focus:border-orange-400 ">
          <app-icon-helper iconName="mail"/>
        </div>
        <input type="text" id="email-address-icon"
               class="pl-9 bg-gray-50 border-2 border-gray-400 text-gray-900 text-sm rounded focus:ring-orange-400 focus:border-orange-400 block w-full p-2.5  "
               [ngClass]="getInputValidationStyle(loginValidator.email)"
               formControlName="email"
               placeholder="name@flowbite.com">
      </div>
      <p class="mt-2 text-sm hidden"
         [ngClass]="getSuggestionValidationStyle(loginValidator.email)">{{ loginValidator.emailErrorMessage() }}</p>

    </div>

    <div class="relative mb-6">
      <label for="password-icon" class="block mt-5 mb-2 text-sm font-medium text-gray-900 "
             [ngClass]="getLabelValidationStyle(loginValidator.password)"
      >
        Your Password
      </label>
      <div class="relative flex items-center">

        <app-input-password class="w-full">
          <div
            class="absolute inset-y-0 left-0 w-10 h-10 flex items-center justify-center   text-lg rounded-lg focus:ring-orange-400 focus:border-orange-400 ">
            <app-icon-helper iconName="lock"/>
          </div>
          <input type="password" id="password-icon"
                 formControlName="password"
                 class="pl-9 bg-gray-50 border-2 border-gray-400 text-gray-900 text-sm rounded focus:ring-orange-400 focus:border-orange-400 block w-full p-2.5  "
                 [ngClass]="getInputValidationStyle(loginValidator.password)"
                 placeholder="your password">
        </app-input-password>


      </div>
      <p class="mt-2 hidden text-xs "
         [ngClass]="getSuggestionValidationStyle(loginValidator.password)">{{ loginValidator.passwordErrorMessage() }}</p>

    </div>

    <div class="flex items-start mb-5">
      <div class="flex items-center h-5">
        <input id="terms" type="checkbox" value=""
               class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 "
               required/>
      </div>
      <label for="terms" class="ms-2 text-sm font-medium text-gray-900 ">I agree with the <a
        href="#"
        class="text-blue-600 hover:underline ">terms
        and conditions</a></label>
    </div>


    <div class="h-10 w-2/5  mx-auto">
      <app-home-button (click)="onSubmit()" [disabled]="submitDisable()">
        Sign In
      </app-home-button>
    </div>

  </form>
  <app-home-spinner *ngIf="isLoading"></app-home-spinner>

</div>
