<nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4"
     aria-label="Table navigation">
    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
        Showing
        <span class="font-semibold text-gray-900 dark:text-white">1-10</span>
        of
        <span class="font-semibold text-gray-900 dark:text-white">1000</span>
    </span>
  <ul class="inline-flex items-stretch -space-x-px">
    <li>
      <button *ngIf="previousPage" (click)="previousPage()"
              [disabled]="currentPage === 0"
              class="flex items-center justify-center text-sm py-2 px-3 leading-tight
                text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700
                dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
                disabled:opacity-50 disabled:cursor-not-allowed dark:disabled:opacity-70
                dark:disabled:cursor-not-allowed">
        <span class="sr-only">Previous</span>
        <app-icon-helper iconName="chevron-left"></app-icon-helper>
      </button>
    </li>
    <li>
      <button (click)="changePageInUrl(0)"
              [disabled]="currentPage === 0"
              class="flex items-center justify-center text-sm py-2 px-3 leading-tight
                text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700
                dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
                disabled:opacity-50 disabled:cursor-not-allowed dark:disabled:opacity-70
                dark:disabled:cursor-not-allowed">
        first
      </button>
    </li>

    <ng-container *ngFor="let i of [1, 2, 3, 4, 5]">
      <li>
        <button (click)="changePageInUrl(currentPage + i)"
                class="flex items-center justify-center text-sm py-2 px-3 leading-tight
                  text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700
                  dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
                  disabled:opacity-50 disabled:cursor-not-allowed dark:disabled:opacity-70
                  dark:disabled:cursor-not-allowed"
                [disabled]="(currentPage + i) >= paginationInfo.totalPages">
          {{ currentPage + i | number }}
        </button>
      </li>
    </ng-container>

    <li>
      <button (click)="changePageInUrl(paginationInfo.totalPages - 1)"
              [disabled]="currentPage === paginationInfo.totalPages - 1"
              class="flex items-center justify-center text-sm py-2 px-3 leading-tight
                text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700
                dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
                disabled:opacity-50 disabled:cursor-not-allowed dark:disabled:opacity-70
                dark:disabled:cursor-not-allowed">
        last
      </button>
    </li>


    <li>
      <button *ngIf="nextPage" (click)="nextPage()"
              [disabled]="currentPage === paginationInfo.totalPages - 1"
              class="flex items-center justify-center text-sm py-2 px-3 leading-tight
                text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700
                dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
                disabled:opacity-50 disabled:cursor-not-allowed dark:disabled:opacity-70
                dark:disabled:cursor-not-allowed">
        <span class="sr-only">Next</span>
        <app-icon-helper iconName="chevron-right"></app-icon-helper>
      </button>
    </li>
  </ul>
</nav>
