@import url(../../../../assets/css/colors.css);

main {
  background-color: var(--background);
  color: var(--text);
}

header {
  background-image: url(../../../../assets/img/gallery/hero-header-bg.png);
  background-position: top center;
  background-size: cover;
}

