.toast {
  position: fixed;
  top: 5rem;
  right: .5em;
  z-index: 1000;
}

.show-animation {
  animation: slide-from-right 0.5s ease-in-out;
}

.hide-animation {
  animation: slide-to-left 0.5s ease-in-out;
}

@keyframes slide-from-right {
  0% {
    transform: translateX(calc(100% + 30px));
  }
  70% {
    transform: translateX(-15px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-to-left {
  0% {
    transform: translateX(15px);
  }
  30% {
    transform: translateX(-15px);
  }

  100% {
    transform: translateX(calc(100% + 30px));
  }


}
