@import "../../../../assets/css/colors.css";

main {
  background-color: var(--background);
  color: var(--text);
}

main pre {
  white-space: pre-wrap;
  background: #ffffff;
}

main .status {
  font-family: "Cascadia Code", "Fira Code", "Droid Sans Mono", "Courier New", monospace;
  font-size: 2rem;
}
